<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="AnomDBConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\AnomDB.mdb" providerName="System.Data.OleDb"/>
  </connectionStrings>
  <appSettings>
    <add key="SessionWarning" value ="1"/>
    <add key="CompanyName" value="Mubadala Petroleum (Thailand) Ltd" />
    <add key="CompanyInitial" value="MPTL" />
    <add key="ApplicationName" value="Anomaly Database" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <authentication mode="Windows"></authentication>
    <identity impersonate="true"/>
    <sessionState regenerateExpiredSessionId="true" timeout="120" />
    <httpRuntime requestPathInvalidCharacters="" maxRequestLength="2097151"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
    <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">      
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll"/>
      <dynamicTypes>
          <add mimeType="text/*" enabled="true"/>
          <add mimeType="message/*" enabled="true"/>
          <add mimeType="application/javascript" enabled="true"/>
          <add mimeType="*/*" enabled="true"/>
      </dynamicTypes>
      <staticTypes>
          <add mimeType="text/*" enabled="true"/>
          <add mimeType="message/*" enabled="true"/>
          <add mimeType="application/javascript" enabled="true"/>
          <add mimeType="*/*" enabled="true"/>
      </staticTypes>
    </httpCompression>    
    <urlCompression doStaticCompression="true" doDynamicCompression="true"/>
    <staticContent>
      <mimeMap fileExtension=".msg" mimeType="application/vsd.ms-outlook" />
    </staticContent>
    <defaultDocument>
      <files>
        <clear />
        <add value="default.aspx" />
    </files>
  </defaultDocument>
  </system.webServer>
</configuration>
